$def with (movies, playlists)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="initial-scale=1.0; user-scalable=0;" />
    <title>Media Library</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/library.css" />
    <link rel="apple-touch-icon-precomposed" href="/static/icon.png" />
    <script src="http://hyphenator.googlecode.com/svn/trunk/Hyphenator.js"></script>
    <script>Hyphenator.run();</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <script src="/static/library.js"></script>
  </head>
  <body>
  <h1>Playlists</h1>
  $for playlist in playlists:
    <div class="item">
      <div class="leftcol">
        <form method="post" action="/">
          <input type="hidden" name="file" value="playlist:$playlist['id']" />
          <button name="action" value="start">
            <img class="start" src="/static/start.png" height="48px" alt="Play" />
          </button>
        </form>
      </div>
      <div class="rightcol">
        <h2>$playlist['title']</h2>
      </div>
    </div>
  <div class="item">
    <div class="leftcol">
      <form method="post" action="/">
        <input type="hidden" name="file" value="playlist:*" />
        <button name="action" value="start">
          <img class="start" src="/static/start.png" height="48px" alt="Play" />
        </button>
      </form>
    </div>
    <div class="rightcol">
      <h2>All Music</h2>
    </div>
  </div>
  <h1>Movies</h1>
  $for movie in movies:
    <div class="item">
      <div class="leftcol">
        <form method="post" action="/">
          <input type="hidden" name="file" value="movie:$movie['id']" />
          <button name="action" value="start">
            <img class="start" src="/static/start.png" height="48px" alt="Play" />
            <img class="cover" src="$movie['image']" width="100%" />
          </button>
        </form>
      $if movie['rating'] is not None:
        <div id="rating">
        $for i in range(movie['rating']):
          <img src="/static/heart.png" height="16px" alt="*" />
        $for i in range(movie['rating'], 5):
          <img src="/static/noheart.png" height="16px" alt="." />
        </div>
      </div>
      <div class="rightcol">
        <h2>$movie['title']</h2>
        <p class="summary hyphenate">$:movie['description'] <span class="duration">$movie['duration']</span></p>
      </div>
    </div>
  </body>
</html>
