$def with (item, is_playing)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width; height=device-height; initial-scale=1.0; user-scalable=0;" />
    <title>$item['title']</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/playlist.css" />
    <script src="http://hyphenator.googlecode.com/svn/trunk/Hyphenator.js"></script>
    <script>Hyphenator.run();</script>
  </head>
  <body>
    <h1>$item["title"]</h1>
    <form method="post" action="/">
      <input type="hidden" name="action" value="skip" />
      <ol start="$item['position']">
      $for id, song in item["songs"]:
        $if id + 1 == item["position"]:
          <li class="active"><button class="song" name="position" value="$id">$song</button></li>
        $else:
          <li><button class="song" name="position" value="$id">$song</button></li>
      </ol>
    </form>
    <form id="controls" method="post" action="/">
      <button name="action" value="stop"><img src="/static/stop.png" height="48px" alt="Stop" /></button>
$if is_playing:
      <button name="action" value="pause"><img src="/static/pause.png" height="48px" alt="Pause" /></a>
$else:
      <button name="action" value="play"><img src="/static/start.png" height="48px" alt="Play" /></button>
    </form>
  </body>
</html>
