
@media all and (min-width: 500px) {
  html {
      background: white;
  }

  body {
      width: 320px;
      height:640px;
      background: #dfd;
  }
}

div.item {
    margin: 2px 2px;
    padding: 10px 0;
    border-top: 1px solid gray;
}

div.leftcol {
    float: left;
    width: 110px;
}

div.item form {
    margin-right: 10px;
    position: relative;
    min-height: 48px;
    width: 107px;
}

div.item form button {
    min-height: 48px;
    width: 100%;
}

div.item form .start {
    position: absolute;
    bottom: 5px;
    right: 2px;
}

div.rightcol {
    width: 200px;
    float: right;
}

div.item p.summary {
    text-align: justify;
    font-size: 14pt;
}

#rating {
    width: 100px;
    text-align: center;
}

#rating img {
    margin: -2px;
}

div.item table {
    width: 200px;
    float: right;
    margin-top: 1em;
}

div.item th {
    text-align: left;
}

div.item td {
    text-align: right;
    padding-right: 10px;
    font-style: italic;
}
