$def with (items)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="initial-scale=1.0; user-scalable=0;" />
    <title>Media Library</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/library.css" />
    <script src="http://hyphenator.googlecode.com/svn/trunk/Hyphenator.js"></script>
    <script>Hyphenator.run();</script>
  </head>
  <body>
$for type, objs in items:
  <h1>$type</h1>
  $for item in objs:
    <div class="item">
      <div class="rightcol">
        <h2>$item['title']</h2>
        <p class="summary hyphenate">$:item['description']</p>
      $if item['meta']:
        <table>
        $for key, value in item['meta'].items():
          <tr><th>$key.title()</th><td>$value</td></tr>
        </table>
      </div>
      <div class="leftcol">
        <form method="post" action="/">
          <input type="hidden" name="file" value="$type:$item['id']" />
          <button name="action" value="start">
            <img class="start" src="/static/start.png" height="48px" alt="Play" />
            $if item["image"] is not None:
              <img class="cover" src="$item['image']" width="100%"/>
          </button>
        </form>
      $if item['rating'] is not None:
        <div id="rating">
        $for i in range(item['rating']):
          <img src="/static/heart.png" height="16px" alt="*" />
        $for i in range(item['rating'], 5):
          <img src="/static/noheart.png" height="16px" alt="." />
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
  </body>
</html>
