@media all and (min-width: 800px) { /* Screen */
    div.item {
        width: 31.5% !important;
        margin: .5%;
        float: left;
        overflow: hidden;
        max-height: 200px;
    }

    #all {
        width: 100% !important;
    }

    section {
        width: 100% !important;
    }
}

body {
    width: 100%;
    overflow-x: hidden;
}

#all {
    width: 200%;
    position: relative;
    left: 0%;
}

section {
    width: 50%;
    float: left;
    min-height: 10em;
}

div.item {
    padding: 10px 0;
    min-height: 180px;
    margin: 0 .5em;
}

div.item.XXX {
    min-height: 0;
}

div.leftcol {
    float: left;
    width: 110px;
    text-align: center;
}

div.item form {
    margin-right: 10px;
    position: relative;
    min-height: 48px;
    width: 107px;
}

div.item form button {
    min-height: 48px;
    width: 100%;
    border: 0;
    background: none;
}

div.item form .start {
    position: absolute;
    bottom: 5px;
    right: 2px;
}

div.rightcol {
    margin-left: 120px; 
}

div.item p.summary {
    text-align: justify;
}

.rating img {
    margin: -2px;
    width: 16px;
    height: 16px;
}
