
@media all and (min-width: 475px) { /* Rotated */
    div.item {
        width: 48%;
        float: left;
        margin: .5% .5em;
    }
}

@media all and (min-width: 600px) { /* Screen */
    div.item {
        width: 31.5% !important;
        margin: .5%;
        overflow: hidden;
        max-height: 200px;
    }
}

div.item {
    padding: 10px 2px;
    min-height: 200px; /* Don't fight it, it's stronger than you... */
    margin: 0 .5em;
}

div.item.XXX {
    min-height: 0;
}

div.leftcol {
    float: left;
    width: 110px;
    text-align: center;
}

div.item form {
    margin-right: 10px;
    position: relative;
    min-height: 48px;
    width: 107px;
}

div.item form button {
    min-height: 48px;
    width: 100%;
    border: 0;
    background: none;
}

div.item form .start {
    position: absolute;
    bottom: 5px;
    right: 2px;
}

div.rightcol {
    margin-left: 115px; 
}

div.item p.summary {
    text-align: justify;
}

.rating img {
    margin: -2px;
    width: 16px;
    height: 16px;
}
