
@media all and (min-width: 475px) { /* Rotated */
    div.item {
        width: 235px;
        float: left;
        margin: 0 auto;
    }
}

div.item {
    padding: 10px 2px;
    border-top: 1px solid gray;
    height: 1%; /* Don't fight it, it's stronger than you... */
    overflow: hidden;
}

div.leftcol {
    float: left;
    width: 110px;
    text-align: center;
}

div.item form {
    margin-right: 10px;
    position: relative;
    min-height: 48px;
    width: 107px;
}

div.item form button {
    min-height: 48px;
    width: 100%;
    border: 0;
    background: none;
}

div.item form .start {
    position: absolute;
    bottom: 5px;
    right: 2px;
}

div.rightcol {
    margin-left: 115px; 
}

div.item p.summary {
    text-align: justify;
}

#rating img {
    margin: -2px;
}
