* {
    margin: 0;
    padding: 0;
    z-index: 10;
}

body {
    color: white;
    font-size: 11pt;
    font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;
    background: black;
    z-index: -1;
}

h1 {
     text-align: left;
     margin: 5px;
     font-size: 24pt;
     overflow: none;
     clear: both;
     position: relative;
}

h1:after {
     text-align: left;
     margin: 5px;
     font-size: 72pt;
     opacity: .2;
     overflow: none;
     clear: both;
     position: absolute;
     z-index: 0;
     content: attr(title);
     left: -.3em;
     top: -.4em;
}

h2 {
    text-align: left;
    font-size: 14pt;
    margin-bottom: 5px;
}

.duration {
    font-style: italic;
    float: right;
}

#controls {
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: white;
}

#controls button {
    min-height: 64px; /* iOS workaround */
    margin: 5px 10px;
}

#hegemony {
    display: none;
}

#hegemony.display {
    display: block;
}

#hegemony {
    list-style-type: none;
    text-align: left;
    border-top: 1px solid gray;
    padding-top: 15px;
}

#hegemony input {
    display: none;
}

#hegemony input + label {
    margin: 0 10px;
    padding-left: 50px;
    font-size: 15pt;
    background: url('/static/stop.png') no-repeat left center;
}

#hegemony input:checked + label {
    background: url('/static/start.png') no-repeat left center;
}

#hegemony button {
    display: block;
    margin: 10px auto;
    min-height: 0;
}
