* {
    margin: 0;
    padding: 0;
}

h1 {
     color: #026;
     text-align: center;
     border-top: 1px solid gray;
     border-bottom: 1px solid gray;
     margin-bottom: -1px;
     padding-top: .25em;
     padding-bottom: .25em;
     background: #eee;
     font-size: 120%;
     clear: both;
}

h2 {
    color: black;
    text-align: left;
    font-size: 110%;
    margin-bottom: 5px;
}

.duration {
    font-style: italic;
    float: right;
}

#controls {
    text-align: center;
    border-top: 1px solid gray;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #eee;
}

#controls button {
    min-height: 64px; /* iOS workaround */
    margin: 5px 20px;
}

#popup {
    float: right;
    font-size: 32px;
    color: #888;
    text-decoration: none;
}

#popup:active {
    color: #000;
}

#hegemony {
    display: none;
}

#hegemony.display {
    display: block;
}

#hegemony ul {
    list-style-type: none;
    text-align: left;
    border-top: 1px solid gray;
    padding-top: 15px;
}

#hegemony input {
    display: none;
}

#hegemony input + label {
    margin: 0 10px;
    padding-left: 50px;
    font-size: 30px;
    background: url('/static/stop.png') no-repeat left center;
}

#hegemony input:checked + label {
    background: url('/static/start.png') no-repeat left center;
}

#hegemony button {
    display: block;
    margin: 10px auto;
    min-height: 0;
}
