h1 {
    font-size: 18pt;
}

#cover {
    float: left;
    margin: 5px 10px 5px 2px;
}

p.summary {
    text-align: justify;
    padding-right: 5px;
}

#rating {
    clear: both;
    text-align: center;
}

#rating img {
    width: 20px;
}
