ol {
    font-size: 120%;
    position: absolute;
    overflow: auto;
    left: 0;
    right: 0;
    top: 1.8em;
    bottom: 74px;
    list-style-type: none;
}

li {
    border-bottom: 1px solid #ddd;
    font-size: 110%;
    vertical-align: middle;
    line-height: 2.2em;
}

li button.song {
    font-size: 100%;
    width: 100%;
    min-height: 48px;
    background: white url('/static/skip.png') no-repeat right top;
    border: 0;
    float: right;
    padding: 0 50px 0 5px;
    text-align: left;
    cursor: pointer;
}

li.active button.song {
    background: black;
    color: #eee;
}

li:after {
    content: "---";
    display: block;
    height: 0px;
    overflow: 0;
    color: transparent;
    clear: both;
}
